<h1>Your Dashboard</h1>

<h2>Your Current Games</h2>
<h3>Unfinished Games</h3>
<ul>
<% for game in @unfinished_games %>
  <li> 
    <%= link_to "Game with wordlist [" + game.wordlist + "]", :controller => :games, :action => "game_entry", :id => game.gameid %>
  </li>
<% end %>
</ul>
<h3>Finished Games</h3>
<ul>
<% for game in @finished_games %>
  <li>
    <% gp = GamePlayer.find(game.gameid, @current_user) %>
    Game with wordlist [<%= game.wordlist %>], Score = <%= gp.score%>
  </li>
<% end %>
</ul>

<h2>Challenges</h2>
<h3>Unfinished Challenges</h3>
<ul>
<% for ch in @unfinished_challenges %>
    <li>
        Challenge between <%= ch.user1 %> and <%= ch.user2 %>
    </li>
<% end %>
</ul>
<h3>Pending Challenges</h3>
<ul>
<% for ch in @pending_challenges %>
    <li>
        Challenge between <%= ch.user1 %> and <%= ch.user2 %>
    </li>
<% end %>
</ul>
<h3>Finished Challenges</h3>
<ul>
<% for ch in @finished_challenges %>
    <li>
        Challenge between <%= ch.user1 %> and <%= ch.user2 %>
    </li>
<% end %>
</ul>
<h2>Create a new game</h2>
<h3>Available wordlists</h3>
<ul>
<% for wordlist in @wordlists %>
  <li>
  <%= link_to wordlist.name, :controller => :games, :action => "new_game", :id => 0, :wordlist => wordlist.name %>
  </li>
<% end %>
</ul>

<h2>Leaderboard</h2>
<%= render :partial => "leaderboard" %>
