<h1>Your Dashboard</h1>

<h2>Current Games</h2>
<h3>Unfinished Games</h3>
<ul>
<% for game in @unfinished_games %>
  <li> 
    <%= link_to "Game with wordlist [" + game.wordlist + "]", :controller => :games, :action => "game_entry", :id => game.gameid %>
  </li>
<% end %>
</ul>
<h3>Finished Games</h3>
<ul>
<% for game in @finished_games %>
  <li>
    <% gp = GamePlayer.find(game.gameid, @current_user) %>
    Game with wordlist [<%= game.wordlist %>], Score = <%= gp.score%>
  </li>
<% end %>
</ul>

<h2>Create a new game</h2>
<h3>Available wordlists</h3>
<% for wordlist in @wordlists %>
  <%= link_to wordlist.name, :controller => :games, :action => "new_game", :id => 0, :wordlist => wordlist.name %>
<% end %>

<h2>Leaderboard</h2>
<%= render :partial => "leaderboard" %>
