<h1>Sign up as a new user</h1>

<% form_tag :action => 'create' do -%>
  <p>
    <%= label_tag 'login' %>
    <%= text_field_tag :login %>
  </p>
  
  <p>
    <%= label_tag 'password' %>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= label_tag 'name' %>
    <%= text_field_tag :name %>
  </p>

  
  <p><%= submit_tag 'Sign up' %></p>
<% end -%>