<h1>Add a new Book</h1>

<%= error_messages_for :book %>
<% form_for :book, :url => "create" do |f| -%>
<p><%= label_tag 'Book Name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'content' %><br/>
<%= text_area :books, :content, :size => "30x10" %></p>

<p><%= label_tag 'file' %><br/>
<%= file_field_tag :textfile %></p>

<p><%= submit_tag 'Submit' %></p>
<% end %>
