<h1>Join SCADr</h1>

<% form_for @user do |f| %>
  
  <fieldset class="structured-form">

    <%- if @user.errors.present? -%>
    <ul class="errors">
    <%- @user.errors.each do |error| -%>
      <li><%= "#{error[0].to_s} #{error[1].to_s}" %></li>
    <%- end -%>
    </ul>
    <%- end -%>

    <ul>
      <li>
        <%= f.label :username %>
        <%= f.text_field :username %>
      </li>
      <li>
        <%= f.label :home_town %>
        <%= f.text_field :home_town %>
      </li>
      <li>
        <%= f.label :plain_password, 'Password' %>
        <%= f.password_field :plain_password %>
      </li>
      <li>
        <%= f.label :confirm_password %>
        <%= f.password_field :confirm_password %>
      </li>
    </ul>
    <ul>
      <li>
      <%= f.submit "Submit" %>
      </li>
    </ul>
  </fieldset>
<% end %>