<script type="text/javascript">
$(document).ready(function() {
  setInterval(function() {
    $.get("<%= url_for user_thoughts_url(@user) %>/thoughts",
          function(response) {
            $("#thoughts").html(response);
          });
    $.get("<%= url_for user_thoughts_url(@user) %>/thoughtstream",
          function(response) {
            $("#thoughtstream").html(response);
          });
    }, 5000);
  
  $("#thought_text").keypress(function(e){
    if (e.which == 13) {
       $("#think form").submit();
       e.preventDefault();
       return false;
    }
  });
});
</script>

<div class="mainbox">
<h1><%= @user.username %> <% if @user.home_town %><span class="hometown">(<%= @user.home_town %>)</span><% end %></h1>
<div id="user-bar">
  <%- if current_user && current_user != @user -%>
    <%- if @subscription.nil? -%>
      <% form_for [current_user, Subscription.new] do |sub| %>
        <%= sub.hidden_field :target, :value => @user.username %>
        <%= sub.submit "Subscribe" %>
      <% end %>
    <%- else -%>
      <div id="subscribed">
        <span>Subscribed!</span>
        <%= link_to "Unsubscribe", user_subscription_path(current_user, @subscription), :method => :delete %>
      </div>
    <%- end -%>
  <%- end -%>
</div>

<% if current_user && current_user == @user -%>
<div id="think"><%= render :partial => 'thoughts/think' %></div>
<div class="clear"></div>
<% end -%>

<h2>Thoughts</h2>
<div id="thoughts">
  <%= render :partial => 'thoughts/index', :locals => {:thoughts => @thoughts} %>
</div>

<% if current_user && current_user == @user -%>
<h2>Thoughtstream</h2>
<div id="thoughtstream">
  <%= render :partial => 'thoughts/index', :locals => {:thoughts => @thoughtstream} %>
</div>
<% end %>
</div>

<div class="sidebox">
<h2>Following</h2>
<div id="followed">
<%- if @followed.present? -%>
  <ul>
  <% @followed.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
  </ul>
<%- else -%>
  <p>Not following any users.</p>
<%- end -%>
</div>

<%- if current_user && current_user == @user -%>
<h2>Who to follow</h2>
<div id="recommended">
<%= render :partial => 'index', :locals => { :usernames => @recommended } %>
</div>
<%- end -%>

</div>

<div class="clear"></div>