<% if current_user && current_user == @user -%>
<div id="think"><%= render :partial => 'thoughts/think' %></div>
<% end -%>

<script type="text/javascript">
$(document).ready(function() {
  setInterval(function() {
    $.get("<%= url_for user_thoughts_url(@user) %>/thoughts",
          function(response) {
            $("#thoughts").html(response);
          });
    $.get("<%= url_for user_thoughts_url(@user) %>/thoughtstream",
          function(response) {
            $("#thoughtstream").html(response);
          });
    }, 5000);
});
</script>

<h1><%= @user.username %> <% if @user.home_town %><span class="hometown">(<%= @user.home_town %>)</span><% end %></h1>
<div id="user-bar">
  <% if @can_subscribe -%>
    <% form_for [current_user, Subscription.new] do |sub| %>
      <%= sub.hidden_field :target, :value => @user.username %>
      <%= sub.submit "Subscribe" %>
    <% end %>
  <% elsif current_user && current_user != @user -%>
    <div id="subscribed"><span>Subscribed!</span></div>
  <% end -%>
</div>

<h2>Thoughts</h2>
<div id="thoughts">
  <%= render :partial => 'thoughts/index', :locals => {:thoughts => @thoughts} %>
</div>

<% if current_user && current_user == @user -%>
<h2>Thoughtstream</h2>
<div id="thoughtstream">
  <%= render :partial => 'thoughts/index', :locals => {:thoughts => @thoughtstream} %>
</div>
<% end %>