<h1>Listing words</h1>

<table>
  <tr>
    <th>String</th>
  </tr>

<% @words.each do |word| %>
  <tr>
    <td><%=h word.word %></td>
    <td><%= link_to 'Show', word %></td>
    <td><%= link_to 'Edit', edit_word_path(word) %></td>
    <td><%= link_to 'Destroy', word, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New word', new_word_path %>