<h2>Add a Candidate</h2>

<% semantic_form_for @candidate do |form| %>
  <% form.inputs do %>
    <%= form.input :email %>
    <%= form.input :name %>
    <%= form.input :school %>
    <%= form.input :gpa, :label => "GPA" %>
    <%= form.input :research_area, :label => "Research Area" %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>