<h2><%= @candidate.name %></h2>

<ul>
  <li>Email: <%= @candidate.email %></li>
  <li>School: <%= @candidate.school %></li>
  <li>Research Area: <%= @candidate.research_area %></li>
  <li>GPA: <%= @candidate.gpa %></li>
</ul>