<div id="player_panel">
	Player Score: <span id="player_score"><%= @score %></span> | <%= link_to "Quit Game", :controller => :games, :action => :quit_game, :id => params[:id] %> 
</div>
<div id="ans_result">
    <% if flash[:correct] %>
        <div id="correct"><%=flash[:correct]%></div>
    <% elsif flash[:incorrect]  %>
        <div id="incorrect"><%=flash[:incorrect]%></div> 
    <% end %>
</div>
<div class="game_entry">
	<% if @para %>
		From <u><%= @para_book %></u> 
	<br><br>
	<div class="game_entry_question">
		"..<%= @para %>.."
	</div>
	<br>
	<div class="game_entry_mc">
		A) <span id="mult_choice_<%= @mc_array[0] %>"><%= link_to @mc_array[0], :controller => :games, :action => :ans, :answer=>@mc_array[0], :id=>params[:id] %></span>
		<br />
		B) <span id="mult_choice_<%= @mc_array[1] %>"><%= link_to @mc_array[1], :controller => :games, :action => :ans, :answer=>@mc_array[1], :id=>params[:id] %></span>
		<br />
		C) <span id="mult_choice_<%= @mc_array[2] %>"><%= link_to @mc_array[2], :controller => :games, :action => :ans, :answer=>@mc_array[2], :id=>params[:id] %></span>
		<br />
		D) <span id="mult_choice_<%= @mc_array[3] %>"><%= link_to @mc_array[3],:controller => :games, :action => :ans, :answer=>@mc_array[3], :id=>params[:id] %></span>
	</div>
	<% else %>
	Sorry, no context was found.
	<% end %>
</div>
