<p>
  <b>Choice1:</b>
  <%=h @multiple_choice.choice1 %>
</p>

<p>
  <b>Choice2:</b>
  <%=h @multiple_choice.choice2 %>
</p>

<p>
  <b>Choice3:</b>
  <%=h @multiple_choice.choice3 %>
</p>

<p>
  <b>Choice4:</b>
  <%=h @multiple_choice.choice4 %>
</p>

<p>
  <b>For word:</b>
  <%=h @multiple_choice.for_word %>
</p>


<%= link_to 'Edit', edit_multiple_choice_path(@multiple_choice) %> |
<%= link_to 'Back', multiple_choices_path %>