<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Books: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'search' %>
</head>
<body>
	<div id="wrapper">
		<div id="shadowleft"></div>
		<div id="everything">
			<div id="inside">
				<div id="header">
					<div id="logo">
						<%= link_to image_tag('/images/logo_2_sm.png'), :controller => :home %>
					</div>
					<div id="search_bar">
					</div>
					<div id="login_bar">
						Welcome, Guest!<br>
						Sign Up | Log In
					</div>
				</div>
				<div id="content">
				<p style="color: green"><%= flash[:notice] %></p>
				
				<%= yield %>
				</div>
			</div>
		</div>
		<div id="shadowright"></div>
	</div>
</body>
</html>
