<h2>Interviewing Candidate: <%=h @candidate.name %></h2>

<%= render :partial => 'candidates/show', :locals => { :candidate => @candidate } %>

<% semantic_form_for [@candidate, @interview] do |form| %>
  <% form.inputs do %>
    <%= form.input :interviewer %>
    <%= form.input :comments, :as => :text %>
    <%= form.input :score, :collection => [1,2,3,4,5], :include_blank => false %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>
<% end %>